.scala_dependencies
.project
.classpath
.settings
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
bin/
target/
lib_managed/
src_managed/
project/boot/
